GHCR_PAT=
MONGODB_URI=mongodb://localhost:27017/timelines?authSource=admin&replicaSet=rs0
MONGODB_PASS=
MONGODB_USER=

# --------------------------------
# Better Stack (OTLP / backend)
# --------------------------------
BETTERSTACK_SOURCE_TOKEN=

# --------------------------------
# LogRocket (frontend RUM)
# --------------------------------
VITE_LOGROCKET_APP_ID=

APP_ENV=dev
VITE_APP_ENV=dev